<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732257714985-tlop6so7ljjech1qhvs0fd7m8drnpn2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732257714985-tlop6so7ljjech1qhvs0fd7m8drnpn2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_0rZpLN68LT49knwWf9wbv7ob6Df0h4</string>
	<key>GCM_SENDER_ID</key>
	<string>732257714985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.sepak.kou.weightManagement</string>
	<key>PROJECT_ID</key>
	<string>weight-management-864b6</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-management-864b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732257714985:ios:4e3f5a9a339212fee16d38</string>
	<key>DATABASE_URL</key>
	<string>https://weight-management-864b6.firebaseio.com</string>
</dict>
</plist>