<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710494621049-6rlamuuh0muphst5lj41rnutq0pttomb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710494621049-6rlamuuh0muphst5lj41rnutq0pttomb</string>
	<key>API_KEY</key>
	<string>AIzaSyAiUvNC3AxOBA2EqDi0zcQOANJSgor1LfI</string>
	<key>GCM_SENDER_ID</key>
	<string>710494621049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.sepak.kou.weightManagement</string>
	<key>PROJECT_ID</key>
	<string>todo-app-2a8fb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-2a8fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:710494621049:ios:f0d7b2984a67be74f533a8</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-2a8fb.firebaseio.com</string>
</dict>
</plist>
